@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Inter */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@1,200&family=Work+Sans:wght@300&display=swap');


::-webkit-scrollbar {
  width: 4px;
  height: 0px;
}

::-webkit-scrollbar-thumb{
  width: 2px;
  height: 2px;
  border-radius: 50px;
  background: linear-gradient(90deg, #BB0707 0%, #650B0B 100%);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}

.border-gradient-bottom {
  background: linear-gradient(to bottom, rgb(138, 137, 137), transparent);
  /* background-clip: padding-box; */
  background: transparent;
  border-top: 1px solid rgb(138, 137, 137);
  border-left: 1px solid rgb(138, 137, 137);
  border-right: 1px solid rgb(138, 137, 137);
  border-image: linear-gradient(to bottom, rgb(138, 137, 137), transparent);
  border-image-slice: 1;
}

.border-gradient-right {
  background: linear-gradient(to right, rgb(138, 137, 137), transparent);
  background: transparent;
  border-top: 1px solid rgb(138, 137, 137);
  border-left: 1px solid rgb(138, 137, 137);
  border-bottom: 1px solid rgb(138, 137, 137);
  border-image: linear-gradient(to right, rgb(138, 137, 137), transparent);
  border-image-slice: 1;
}

.flex-grid{
  flex: 1 0 0;
}

.paybill-bg {
  background-image: url('../public/rupay-card.png');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .paybill-bg {
    background-image: url('../public/rupay-card-mobile.png');
    background-size: center;
    background-position: top;
    background-repeat: no-repeat;
  }
}

.bg-design {
  background-image: url('../public/bg-design.png');
  background-position-y: bottom;
  background-repeat: no-repeat;
}

.FinancialEnlightment-bg {
  background-image: url('../public/Yolo-DebitCard.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-scrolling-photos {
  animation: scroll 20s linear infinite;
}

.animate-scrolling-photos:hover {
  animation-play-state: paused;
}
