@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}

.border-gradient {
  background: linear-gradient(to bottom, rgb(138, 137, 137), transparent);
  /* background-clip: padding-box; */
  background: transparent;
  border-top: 1px solid rgb(138, 137, 137);
  border-left: 1px solid rgb(138, 137, 137);
  border-right: 1px solid rgb(138, 137, 137);
  border-image: linear-gradient(to bottom, rgb(138, 137, 137), transparent);
  border-image-slice: 1;
}
